* {
    transition: 0.3s;
}

body {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 800px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 15px;
}

.delete-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    height: 25px;
    width: 70px;
    font-size: 16px;
    color: #fff;
    background-color: black;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
}

.delete-btn:hover {
    opacity: 0.7;
}

.author {
    color: #888;
}
